.popup__error {
  max-width: 238px;
  min-height: 30px;
}

.popup__error:last-of-type {
  margin-bottom: 13px;
}

@media screen and (min-width: 1280px) {
  .popup__error{
    max-width: 358px;
    margin-top: 5px;
  }
}