.profile__hobby {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  margin: 0 auto;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 282px;
}

@media screen and (min-width: 912px) {
  .profile__hobby {
    font-size: 18px;
    line-height: 22px;
    text-align: start;
    max-width: 336px;
    margin: 0;
  }
}