@import url(./vendor/normalize.css);
@import url(./vendor/fonts/fonts.css);

@import url(./blocks/root/root.css);
@import url(./blocks/root/__section/root__section.css);

@import url(./blocks/page/page.css);
@import url(./blocks/page/__section/page__section.css);

@import url(./blocks/header/header.css);
@import url(./blocks/header/__logo/header__logo.css);
@import url(./blocks/header/__link/header__link.css);
@import url(./blocks/header/__email/header__email.css);
@import url(./blocks/header/__profile-info-hide/header__profile-info-hide.css);
@import url(./blocks/header/__profile-info/header__profile-info.css);



@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__image/profile__image.css);
@import url(./blocks/profile/__edit-photo-button/profile__edit-photo-button.css);
@import url(./blocks/profile/__info/profile__info.css);
@import url(./blocks/profile/__name/profile__name.css);
@import url(./blocks/profile/__edit-button/profile__edit-button.css);
@import url(./blocks/profile/__title/profile__title.css);
@import url(./blocks/profile/__hobby/profile__hobby.css);
@import url(./blocks/profile/__add-button/profile__add-button.css);
@import url(./blocks/profile/__container/profile__container.css);

@import url(./blocks/group/__element/group__element.css);
@import url(./blocks/group/__ul/group__ul.css);
@import url(./blocks/group/__container/group__container.css);
@import url(./blocks/group/__title/group__title.css);
@import url(./blocks/group/__button/group__button.css);
@import url(./blocks/group/__button/_active/group__button_active.css);
@import url(./blocks/group/__image/group__image.css);
@import url(./blocks/group/__batton-delite/group__batton-delite.css);
@import url(./blocks/group/__container-like/group__container-like.css);
@import url(./blocks/group/__counter-like/group__counter-like.css);

@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__author/footer__author.css);

@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/_opened/popup_opened.css);
@import url(./blocks/popup/__container/popup__container.css);
@import url(./blocks/popup/__close/popup__close.css);
@import url(./blocks/popup/__form/popup__form.css);
@import url(./blocks/popup/__title/popup__title.css);
@import url(./blocks/popup/__button/popup__button.css);
@import url(./blocks/popup/__input/popup__input.css);
@import url(./blocks/popup/__input/_type/popup__input_type_name.css);
@import url(./blocks/popup/__input/_type/popup__input_type_hobby.css);
@import url(./blocks/popup/__photo/popup__photo.css);
@import url(./blocks/popup/__container-photo/popup__container-photo.css);
@import url(./blocks/popup/__span/popup__span.css);
@import url(./blocks/popup/_intended/popup_intended_photo-viewing.css);
@import url(./blocks/popup/__button/_disabled/popup__button_disabled.css);
@import url(./blocks/popup/__input/_type/popup__input_type_error.css);
@import url(./blocks/popup/__error/_visible/popup__error_visible.css);
@import url(./blocks/popup/__error/popup__error.css);
@import url(./blocks/popup/__image/popup__image.css);
@import url(./blocks/popup/__title-register/popup__title-register.css);

@import url(./blocks/form/__container/form__container.css);
@import url(./blocks/form/__form/form__form.css);
@import url(./blocks/form/__title/form__title.css);
@import url(./blocks/form/__input/form__input.css);
@import url(./blocks/form/__button/form__button.css);
@import url(./blocks/form/__span/form__span.css);