.header {
  min-height: 56px;
  display: flex;
  max-width: 320px;
  justify-content: space-between;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  padding-left: 30px;
  padding-right: 30px;
}

@media screen and (min-width: 912px) {
  .header {
    max-width: 880px;
    min-height: 74px;
    padding-left: 0px;
    padding-right: 0px;
  }
}